/* Global CSS */
body {
    font-family: 'Roboto', sans-serif;
     
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}
.font-10px{
    font-size:10px;
    color:red;
}

/* #container {
    
} */

.container-1000px {
    width:1240px;
    margin:0 auto;
    
}

/* Generic CSS */

/* Header CSS */
#header {
    width:100%;
    height:10%
}
/* Header Section 1 */
#sec_1{
    height:25%;
    background-color: #EAEAEA;
}

#date{
    display: inline-block;
    width:auto;
    margin-right:65.1%;
    font-size:66%;
    padding-bottom: 5px;
}

#social{
    display:inline-block;
    width:auto;
    border-left:1px solid black;
} 
#social i{
    /* display:inline-block; */
    margin-left:5px;
}

#social i:first-child{
    margin-left:16px;
    color:blue;
}

#social i:last-child{
    color:#C40080;
} 

#social i:nth-child(2){
    color:#00A2F3
} 

#social i:nth-child(3){
    color:rgb(255, 0, 0)
}

#download{
    display:inline-block;
    width:auto;
    }
#download i{
    
    color:#AAAAAA;
}

#download img{
    width:16px;
   height:16px
}

#download i,
#download img{
    margin-right:4px;
}

#sec_2{
    background-color: #0A4990;
    height:75%;
}

#sec_2>div{
   display: inline-block;
}


#logo{
   
 width:auto;
 margin-left:45%;
margin-right: 20%;
}

#logo img{
    
}

#search{
    height:100%;
    width:auto;
    color:white;
    border-left:1px solid black;
}

#search i{
    display: inline-block;
    height:100%;
    font-size: 2em;
    
}

#live{
    color:white;
    background-color:#DE1F26;
    /* padding:28px 10px 20px;; */
    /* width:6%; */
    font-weight:bold;
    font-size:18px;
}

#live i{
    font-size:24px;
} 
/* Main Navigation */
.container-{

}

#main-navigation{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:19px;
    border-bottom: 1px solid lightgray;
    padding:6px;
}
#main-navigation a li{
    display:inline-block;
    margin:8px;
   
}
#main-navigation a{
    color:black;
    font-weight:bold;
    text-transform:uppercase;
    
}
.container-1200px{
    width:1200px;
    margin:0 auto;
}
#main-navigation a:hover{
    text-decoration: underline double #E6575C;
}
#banner {

}

#footer {

}


/* Specific CSS */